<h1>Sign Up!</h1>

<form action="<%=users_url%>" method="post">
	<input type="hidden"
				 name="authenticity_token"
				 value="<%= form_authenticity_token %>">

	<label for="user_name">Name</label>
	<input type="text" id="user_name" name="user[name]" value="<%=@user.name%>">
	<br>

	<label for="user_username">Username</label>
	<input type="text" id="user_username" 
										 name="user[username]" value="<%=@user.username%>">
	<br>

	<label for="user_email">Email</label>
	<input type="text" id="user_email" 
									   name="user[email]" value="<%=@user.email%>">
	<br>

	<label for="user_password">password</label>
	<input type="password" id="user_password" name="user[password]">
	<br>

	<label for="user_password_confirmation">Confirmation</label>
	<input type="password" id="user_password_confirmation" 
										 name="user[password_confirmation]">
	<br>

	<input type="submit" value="Sign Up!">
</form>