<%= render :partial => "comment_vote_links", 
					 :locals => { :comment => comment } %>
<%= link_to link.title, "http://#{@link.url}" %>
<strong><%= comment.author.name %></strong><br>
<%= comment.body %><br>
<%= render :partial => "comment_links", 
					 :locals => { :link => link, :comment => comment } %>

<ul>
	<% comments_by_parent_id[comment.id].each do |cmt| %>
		<li>
			<%= render :partial => "comment", 
							:locals => {:link => link,
												  :comment => cmt,
													:comments_by_parent_id => comments_by_parent_id} %>
		</li>
	<% end %>
</ul>






