<h3><%= link_to @link.title, @link.url %></h3>
<h4>Author: <%= @link.author.username %></h4>
<p><%= @link.body %></p>
<%= link_to "respond", new_comment_url %>

<h4> Comments </h4>
<% @link.comments.each do |comment| %>
	<%= comment.body %>
	by <%= comment.author %>
	<%= link_to "respond", new_comment_url %>
<% end %>

<% if @link.author == current_user %>
	<%= button_to "edit", edit_link_url(@link), :method => :get %>
<% end %>