<%= render :partial => "front_page_links" %>
<h1> Front Page of Robbit </h1>


<ul>
	<% Link.all.sort_by(&:score).each do |link| %>
		<li>
			<%= render "links/link_vote_links", :link => link %>
			<a href="http://<%= link.url %>"><%= link.title %></a>
			by <%= link.author.username %>
			<%= link_to "comments", link_url(link) %>
		</li>
	<% end %>
</ul>
