<h1><%= @sub.name %></h1>
	<% @sub.links.each do |link| %>
			<a href="http://<%= link.url %>"><%= link.title %></a>
			by <%= link.author.name %> 
			<%= link_to "comments", link_url(link) %><br>
	<% end %>

<% if @sub.moderator == current_user %>
	<%= button_to "edit", edit_sub_url(@sub), :method => :get %>
<% end %>

<%= button_to "add a link", new_link_url, :method => :get %>

