<!DOCTYPE html>
<html>
<head>
  <title>Robbit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notices].nil? || flash[:notices].empty? %>
	<% flash[:notices].each do |message|%>
		<p><%= message %></p>
	<% end %>
<% end %>

<%= yield %>

</body>
</html>
