<!DOCTYPE html>
<html>
<head>
  <title>Robbit</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless flash[:notices].nil? || flash[:notices].empty? %>
	<% flash[:notices].each do |message|%>
		<p><%= message %></p>
	<% end %>
<% end %>

<% if logged_in? %> 
	<h4>Welcome <%=current_user.name%>!</h4>
	<%= button_to "log out", session_url, :method => :delete %>
<% else %>
	<%= button_to "sign up", new_user_url, :method => :get %>
	<%= button_to "sign in", new_session_url, :method => :get %>
<% end %>

<%= yield %>

</body>
</html>
